<ng-template #notavailable>
  <span>N/A</span>
</ng-template>

<div class="w-info pb-3">
  <div class="w-info__container d-flex flex-column">
    <div class="d-flex">
      <div class="w-info__icon d-flex align-items-center w-100" *ngFor="let item of info.weather">
        <div class="flex-grow-1">
          <span class="text text-left mb-1">{{item.description}}</span>
          <img [attr.src]="getWeatherIcon(item.icon)"
          [attr.alt]="item.icon"  *ngIf="info.weather" class="img-fluid">
        </div>
        <ng-content select=".date-time"></ng-content>
      </div>
    </div>
    <div class="w-weather-info w-100 d-flex justify-content-between">
      <div class="w-weather-info__temp">
        <span *ngIf="info.temperature; else notavailable" title="Temperature"><i class="wi wi-thermometer"></i> {{ info.temperature.temp }}</span>
        <span class="wi wi-celsius pl-1"> </span>
      </div>
      <div class="w-weather-info__wind">
        <span *ngIf="info.wind; else notavailable" title="Wind"><i class="wi wi-windy"></i> {{ info.wind.speed }} km/h</span>
      </div>
    </div>
  </div>
</div>
