.w-forecast
  h4,button
    font-size: 1em
  &__info
    border-bottom: 1px solid #17a2b8
    &:last-child
      border-bottom: none
  .card-body
    max-height: 50em
    overflow-y: auto

@media (min-width: 992px)
  .w-forecast
    h4,button
      font-size: 1.25em
