<div class="w-forecast">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header bg-info d-flex align-items-center">
        <h4 class="title text-white flex-grow-1 mb-0">{{cityName}}'s Weather Forecast</h4>
        <div class="view-action d-flex align-items-center mr-3">
          <span class="pr-3 text-white">{{ (isChartView) ? 'List view' : 'Chart view' }}</span>
          <w-switch (switchHandler)="toggleView($event)"></w-switch>
        </div>
        <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
      </div>
      <div class="card-body" [ngSwitch]="isChartView">
        <div *ngSwitchCase="false">
          <div class="w-forecast__info" *ngFor="let info of weatherForecast; trackBy">
            <w-weather-info [wind]="info.wind"
              [temperature]="info.temperature"
              [weather]="info.weather">
              <p class="date-time text-info mb-0">{{info.dateAndTime | date: 'medium'}}</p>
            </w-weather-info>
          </div>
        </div>
        <div class="w-chart" *ngSwitchCase="true">
          <w-weather-chart [forecast]="weatherForecast" *ngIf="weatherForecast"></w-weather-chart>
        </div>
      </div>
    </div>
  </div>
</div>