<div class="w-error mt-2 mb-2" *ngIf="isError">
  <div class="p-3 bg-{{errorInfo.type}} d-flex text-white">
    <div class="w-error__message flex-grow-1">
      <span>{{ errorInfo.message }}</span>
    </div>
    <div class="w-error__action">
      <span class="w-error__action-close" (click)="onClose()">X</span>
    </div>
  </div>
</div>