<div class="w-container">
  <div class="card h-100">
    <img class="card-img-top w-container__image"
         [src]="cityInfo.image"
         [attr.alt]="cityInfo.name">
    <div class="card-body">
      <h4 class="card-title pb-2">{{cityInfo.name}}</h4>
      <w-weather-info [wind]="cityInfo.wind"
      [temperature]="cityInfo.temperature"
      [weather]="cityInfo.weather"></w-weather-info>
      <button class="btn btn-outline-info btn-lg btn-block" (click)="invoke()">Get Forecast</button>
    </div>
  </div>
</div>
