<div class="w-layout">
  <div class="row">
    <div class="col-xm-12 col-md-6 col-lg-4 col-xl-4 mb-5" *ngFor="let city of cities">
      <w-weather-card [city]="city" (actionHandler)="navigateToForecast($event)"></w-weather-card>
    </div>
  </div>
</div>
