<div class="w-switch">
  <label class="w-switch__label">
    <input type="checkbox" class="w-switch__input" [(ngModel)]="checked" (change)="onSwitchChanged()">
    <span class="slider slider--round"></span>
  </label>
</div>