
/* initial basic setup */
$font-family-base: 'Karla';
$line-height-base: 1.43;

/* import our bootstrap scss framework */
@import "~bootstrap/scss/bootstrap";

/* import weather icons from cdn */
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.10/css/weather-icons.min.css");

/* import best awarded fonts from google cloud */
@import url('https://fonts.googleapis.com/css?family=Karla');

